# Machine Learning challenge: Love is love

## Approach
> * Used glob to extract all the paths for the images
> * Used easyocr library to read the text from the .jpg files.
> * Removed **\n** and **contraction** then applied some spelling correction and created Sentiment scores using `SentimentIntensityAnalyzer` & `TextBlob Sentiment polarity score`
> * Removed Non alphabets, Stopwords and applied lemmatization
> * Created TFIDF vectors for the text
> * Created vector represenation for each comment
> * Stacked all these features i.e. `Sentiment scores`, `TFIDF Vectors`, `Comment Vectors` And used these as features to cluster the comments in 3 groups using `Kmeans`.
> * Further by inspection detected the comment types in the cluster and mapped `Random`, `Negative`, `Positive` accordingly.

* *`NOTE` every time we run code we need to inspect the cluster label and mapping string*

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('darkgrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
pd.set_option("display.max_colwidth", 200) 
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
# !pip install easyocr

Requirement already satisfied: easyocr in /usr/local/lib/python3.6/dist-packages (1.1.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from easyocr) (1.4.1)
Requirement already satisfied: torch in /usr/local/lib/python3.6/dist-packages (from easyocr) (1.5.1+cu101)
Requirement already satisfied: torchvision in /usr/local/lib/python3.6/dist-packages (from easyocr) (0.6.1+cu101)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from easyocr) (0.16.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from easyocr) (1.18.5)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.6/dist-packages (from easyocr) (4.1.2.30)
Requirement already satisfied: Pillow<7.0 in /usr/local/lib/python3.6/dist-packages (from easyocr) (6.2.2)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from torch->easyocr) (0.16.0)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->easyocr) (2.4.1)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->easyocr) (3.2.2)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->easyocr) (2.4)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->easyocr) (1.1.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (0.10.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->scikit-image->easyocr) (4.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (1.12.0)

In [ ]:
import glob

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
paths=glob.glob('/content/drive/My Drive/Love is Love/Dataset/*')

In [ ]:
paths

['/content/drive/My Drive/Love is Love/Dataset/Test3118.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1902.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1992.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3130.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3863.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3625.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2411.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2068.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2977.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2616.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1785.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1634.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3525.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3893.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1872.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2007.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1788.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2870.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1161.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2280.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1644.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3566.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1001.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3024.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3360.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3177.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1818.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1229.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3294.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3512.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2424.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1279.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2309.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2792.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1743.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1717.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2049.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3706.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3750.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1359.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1122.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1885.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3265.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2791.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1856.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1803.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2114.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1620.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2743.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1353.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2648.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1071.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1884.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3789.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3277.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2590.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3798.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1889.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2235.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1923.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3159.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2371.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2962.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3864.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1199.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2455.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2209.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1776.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3030.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1767.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1934.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1290.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1240.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3827.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1012.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3985.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1271.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1954.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3246.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1022.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2434.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1837.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3975.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3934.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test3749.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2650.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1724.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test1615.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test2959.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test353.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test490.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test516.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test581.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test937.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test677.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test835.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test660.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test523.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test526.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test614.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test837.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test482.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test957.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test761.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test859.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test812.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test803.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test890.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test929.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test824.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test751.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test545.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test644.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test400.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test449.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test715.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test372.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test941.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test843.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test587.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test834.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test624.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test912.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test789.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test498.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test397.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test422.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test668.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test861.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test661.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test942.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test378.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test579.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test884.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test757.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test440.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test979.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test606.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test374.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test779.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test833.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test665.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test527.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test945.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test612.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test360.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test536.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test993.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test811.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test396.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test522.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test903.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test946.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test519.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test533.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test489.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test417.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test760.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test778.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test204.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test227.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test230.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test243.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test212.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test179.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test164.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test209.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test114.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test108.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test238.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test113.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test151.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test152.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test250.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test168.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test239.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test213.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test192.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test132.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test119.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test141.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test165.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test107.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test145.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test135.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test206.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test201.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test180.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test232.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test231.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test126.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test221.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test176.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test216.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test234.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test117.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test218.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test136.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test122.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test198.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test166.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test249.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test140.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test131.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test194.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test144.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test240.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test188.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test109.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test133.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test181.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test125.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test172.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test237.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test244.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test149.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test245.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test173.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test191.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test211.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test233.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test100.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test154.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test103.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test161.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test187.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test162.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test128.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test242.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test183.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test236.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test134.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test129.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test105.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test143.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test158.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test225.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test228.jpg',
 '/content/drive/My Drive/Love is Love/Dataset/Test160.jpg']

In [ ]:
import easyocr
reader = easyocr.Reader(['en'])

MD5 hash mismatch, possible file corruption
Re-downloading the recognition model, please wait
Download complete

In [ ]:
x=reader.readtext('/content/drive/My Drive/Love is Love/Dataset/Test1001.jpg')

In [ ]:
x

[([[32, 14], [208, 14], [208, 42], [32, 42]],
  'When people ask',
  0.8024377822875977),
 ([[30, 38], [214, 38], [214, 64], [30, 64]],
  'what Isee in you,',
  0.07900962978601456),
 ([[42, 60], [204, 60], [204, 88], [42, 88]],
  'Ijust smile and',
  0.15037031471729279),
 ([[28, 83], [216, 83], [216, 113], [28, 113]],
  'look away because',
  0.785081684589386),
 ([[8, 104], [248, 104], [248, 134], [8, 134]],
  'Im afraid ifthey knew,',
  0.5500624775886536),
 ([[36, 130], [216, 130], [216, 158], [36, 158]],
  'theyd fall in love',
  0.7659639716148376),
 ([[60, 154], [196, 154], [196, 182], [60, 182]],
  'with you too.',
  0.25999242067337036)]

In [ ]:
text=[]
no=[]
for i in paths:
  data=[]
  for j in reader.readtext(i):
    data.append(j[1])
  text.append(" ".join(data))
  no.append(i.split('\\')[-1])

In [ ]:
text

['KEEP CALM AND LOVE WHO YOU WANT Tar^o kar',
 'Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce',
 "YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar",
 'IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela',
 'THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT',
 'orr0 ululce yggy anesAN marriages UEVE PPOPE STII PROTESTIN THIS SHIT Simely because iLis noneol mydamn businesshow others choose to live their infos',
 "ONNE DAY WE WONT HAVE TO COME OUT OF THE CLOSET' WE'LL JUST SAY WE ARE IN LOV= AND THAT WILL ALL THAT MATT Tao mar",
 'Yov ULLoT HAVL rolnut tit hrD tenilve FIFD.',
 'PROUD ll8l',
 'lo belolroid ls co behove Os che erurh were noe crue.',
 'To be afraid is to behave as if the truth were not true. BAYARD RUSTIN',
 '',
 'Do yu realize whar you when you say sa That\'s so gayl"? GAY" HOr Mrcn cno0 no1. tobo',
 'you re not out and proud, yours urte outannabestmontn ine Don spendanolner hiding closet andsnamne ou donina for roudeserv and your trib naitingto walcomo vouhome',
 'Being gayis like being lefthanded. Some people  are most people arent and nobodyreallyknows why. Its notrightorwong, itsjustthe waythings are! Being Gay & Proud Quotes geckoandfly. wwu7U com',
 'We are powerful because we have survived. AUDRE LORDE',
 'nun erer T} Ne6A ail',
 "PPeople dont know ifim gay straight or an alien from outer space.. its funny' Gerard Wag",
 'IF I COULD HAVE CHOSEN TO BE GAY OR STRAIGHT, I THINKI WOULD HAVE SIMPLY CHOSEN TO BE HAPPY 0 k hlrp',
 '&ozel9e o  c6~~#?9 auae Aelo',
 'Iwish more teachers could elaborate on it ILGBTQ topics] and talk about it more, instead of like, two sentences and then dismiss the subject. ELAINA in Wnat Do You Know? Sulo Twelve Year Olds Tal AbouttGarO Topics Welcoming Schools Film)',
 'Tatergreram dnallaar lrn nanllya fnn',
 'When people ask what Isee in you, Ijust smile and look away because Im afraid ifthey knew, theyd fall in love with you too.',
 'jefeeleern 6aa] Maureu2lse myusng tael f ram  liraye mol2]222_ funanne tazs alueeuna ae nGala5eenelunue2l12]#024|00 Dalna mnuae rsp2lalneIl82 e501 ane]6',
 'Gn< me eMe re[o nar nu   cr8  C^',
 'Qvialoo DIAUTIFUI a ib ulID9vN ill CIOSIT',
 'myamrnro Ioanlosurlnsndl: seren no Coalnaa] a3 Calo 44 9s4ol7',
 'From the time | was a kid, Ihave never been able to understand attacks upon the gay community. There are so many qualities that make up a human being. bythe time | get through with all the things people, really that| admire about they do with their private parts is what probably so low on the list that it is irrelevant. Paul Newman AciORIDIRECTOR r',
 'eo msslest cartgo p Tm becalse caat3 o me. Mase Anelo',
 'inu 6',
 'Ln dfrai! nof of L uio e',
 '',
 "CC Find out who you are and be that person. That's what your soul on this earth was put to be. Find that truth, live that truth, and everything else will come. Ellen 99",
 'Jesus chink compassionate, va5 super-intelligent gay man who understood human problems. On the cross, he forgave the people who crucified him. Jesus wanted us to be loving and forgiving. don t knov what makes people so cruel. Try being gay woman in the Middle East as dead good s vou re Elton John',
 'Saluinaovvoring ar lalentzd zyen nere qain noubl Iibian tosgnanol2 oucan cfchins  lalding n@ Moll Gno',
 'Ie pwcud oulo qu ale',
 '',
 '"Shine yur soulwith the same humility egoless as the rainbow andno matter where you go in this worddorthe nert, love wilfindyou, attendyou audbless you Aberhani Grom Jouneythrughihe Pouerofihe Ranbou Kabvu 8an bySara L',
 'If Harty Poller onylhing pught us irreuhal no onie shoula liin a dosil',
 'o~ eelce asl celcete Agla',
 'irr Zlrlr,authol  lr MLiy: lln luoT nihl43 cing duilengiailar inlensuly Riehinltt 11 33  ranolwhatfbovtunn 0114)711~1,711;14111 mnsralisvtalkalnat 1   Instjsildlnnin rllal ml',
 'IFFncoUULp HAVE CMOSEN TO BE    nAVErsmmPLY CHOSEN TO BE HAPPY',
 'Alotofparents will do anythingfor their kids exceptletthem be themselves. Being Gay & Proud Quotes o geckoandfly. com ww7u',
 'How LGBT Athletes are Claiming their Play: Zeigler, author of"Fair defied the notion that sports are inherently Rightful Place in Sports,\' homophobic. Part ofwhat is keeping gay athletes closeted, Zeigler said, is the hyper heterosexism that exists in locker rooms. Negative talk about is not the issue. Instead, it\'s the demeaning talk about women. gay people',
 'Its funnyhowweknowgay existandwedont people ofGodbutwe have  proof deny gaypeoplebasic 871 human nghts because itmightpiss offGod. Being Gay & Proud Quotes geckoandfly. w7u70 com',
 'nmogsare goy nga dos Fvom eln 5 emell alla ooeeo fiesr ozod>5 ga',
 '',
 'LOVE IS TOO BEAUTIHUUL TO BE HIDDEIN IN THE CLOSET Tamo qar',
 '',
 'Notli^3 nock nll enless o ryla M~-~',
 'iaesaarnlanis ineanalnort imralia Gan',
 "People mayhate you forbeingdifferentand bysocietys living not standards, but deep down, they they wish had the courageto do the same. Being Gay & Proud 'Qudlese S geckoandfly. wwwU. com",
 'just heard you say ihat\'seaso gay!\' olhorlilnoe)ou"@oul6 LGe Snteresungi ludicrous frivolous icational. bogusstiegi curoys cunou5 insipla absurdnidiculous igooty. annoying. asinine Surrea Pathetic. wuchlyl yesterday',
 'We ms enconter lects me^1 bt ot nst n Le eelectee Mae Aoela',
 'Ge Find oul who you are land ba thal p arson- Thal s anal your soul was put on unis earuh to bs ind tnal trulh tve tnat uruln and evannning slse unil core 55',
 'We ore powertul becouse we hove sur vived r',
 'xxe  ',
 '  6#o@) ncalaiaie lanna iriserda m0 ',
 '',
 'GLycULTUREIS SURVIVIIICIID THRIVrc soHcacTvsTs BalAM TCRECLIT RISLIIHOHOPHOBIC MOUHHCLMIGHT BCA GLUGLOFT[ SUCCESS OF POSITIVE GIIVIMIGES. ase5u0',
 'cny cudiunHis suavIViO nciVi son IG IOXNCE HOM0 QulC succis3 GN cnude  ofrOSIIIyL mndG5.',
 'When people ask what Isee in you, Ijust smile and look away because Im afraid ifthey knew, theyd fall in love with you too.',
 ' DAY s6mTHAVE TO coMg olT ols THE CLOlsls2 W L[ J0si3e WARE INI AND THATIIL ALL THAT MAir',
 'If Harty Poller pughl us onylhing irsunalnojois aonlalislm ajdanart',
 'Do you realize what you say. when you say Ihat\'s so gay!"? The way has ddays is usednowa- gay a negative connotation. Which it should not! GAY means brighily colored happy and or homosoxual HOr AMMoYIMG. sruPID. FooLISH. PATHEIIC. auplenous.RnAilouneunlous.    WEAK. Docus. niDiculous. FnIvolous. HIlDISH. nusunD AwKWAnD. on FnEAKY CHOOSEA WQRD WICH MEANS WHAT YOU MGANIO SAY. IIS ONLY IHE SMART IHING IO DO.',
 '',
 '',
 'Ofcourse gaymen dress well. Theydidnt spend all thattime in the closet doing nothing. Being Gay & Proud Quotes www geckoandfly.com',
 '"Onstage, devil. But Im hardlya Lam a social reject. Hercarg Freddle naelamaa ian"aranaleno',
 '"EVEN IN THE BIBLE WE CANREAD NA ANG BABAE, DAPAT MAGSUOT NA PAMBABAE AT ANG LALAKI, MAGSUOT NG PANLALAKI. THATS WHATI BELIEVE"',
 'locsilc',
 'neere poseklelre6 nerne= gua%0 lnaiare4rre er',
 'islongjss uno Esrerlabon cinoln nastales stonen beleg belemens sumi as ennal fuur ang Suna Bin ula nol nddlnbronesaalsydors aa04',
 'Being gayis nota crime anditis nota sin. Stop using Godto justifyyour prejudice. Religion is aboutlovingone another You rejust looking foran excuse tohate. Being Gay & Proud Quotes geckoandfly. wwu7U com',
 'LovE Is To0 BEAunIIL TO gE HlDDlsl IN THE CLOSIs',
 '',
 'ITHINKA 66 MARRIAGE IS AS A MARRIAGE HAS ALWAVS BEEN, 6 BETWEENA MAN AND A WOMAN" MLUey PDOMAMCLIIVTDI, 2Db0 H#TBT',
 'B becter togtl gts',
 'LOVE Gve',
 '  LOV  is aeve   ',
 'uguu5cI^a!5MIt0 snoutonuingcytntDa Datgngr uM nlnu st5jntiutngn3CulDG1 nru nyegoncGrnseCI mennnso urnnrnu Guntag cilNuucurrnaM',
 'KEEP CALM AND LOVE WHO YoU WANT',
 '',
 'zol BgE STlnSHT` sTE sAY THEl8]3W',
 'Qwialso BAUIIFUI a fotrrbbN IT CIOST',
 '',
 '  tragedy in their some lives, but Tve onlyhad tragic haircuts and',
 '',
 'lr luo fnmn',
 '3".117?0 410 tralh7',
 'ACCEPANCE OF YOURSELF ISEARMORE IMPORTANT THAN ACCEPTANCE inoM orHERS.',
 "THERE'S NOTHING WRONG WITH YOU. THERE'S A LOT WRONNG WITH THE WORLD YOU LIVE IN C0l[R CRs Tano= kr",
 '99',
 'you are LOVABLE WORTHY ENOUGH BRAVE',
 '',
 'SDuNDS Giy IM IN',
 'WDODUD-oD=DA wAis BenIs TN{VS MAT @pe Dlade LnIs IyJy @DR Gkc Sl~  len T mpte Icto ml gM in ay',
 'GODAND GAY THE CHRISTIAN MATTHEIV VIES',
 '',
 "learned compassion from being discriminated against. Everything bad that's ever happened to me has taught compassion. me DEGENERES ELLEN",
 'Dl YoU LIKE BoYs OR GIRLS? YES.',
 'He are legal!!! fifty In all states!!! fir{J7',
 'ITHINK BEING GAVISA BLESSING,  ANDITSSOMETHING IAMTHANFUL FOR EVERVSINGLEDIV D[RS  nr C0 P 0 t ',
 "cleliene you can @ you' re halfway Zee. T. ROOSEVELT",
 'aoandonna cuinunoo msm4 a mn ananinunna biteny donle o0 camDsolnlyo Inlyl naanaoura orgnnbundalgnndno nomovdon ',
 "Life's a game. Play to win.",
 'BE YuRSHE naorinincly al0 wotk more thar a cOP1:',
 'The Biblical Case in Support of Same-Sex Relationships ()AND G C^ THE A4 Y CHRISTIAN MATTHEW VINES',
 'GC Happiness is whenwhat youthink, whatyou say,and what you doarein harmony 95 inopungandpouavequolca com Inspiring and Positive Quotes <3',
 'ou dont have to BE GA TCBIA SUPPORTER just have to iou De fuman! Daniel Radcliffe',
 'loe to@',
 'IAMGAV IAMSTRAIGHE IAMEESHIAN IAMHISEXUAE. IAMFRANSGENDERED IAM HUMAN.',
 'THE BEAUTV OF STANDING UP FOR YOUR RIGHTSIS OTHERS SEE YOU STANDING AND STAND UP AS WELL. T',
 'Being gayis like being lefthanded. Some people  are most people arent and nobodyreallyknows why. Its notrightorwong, itsjustthe waythings are! Being Gay & Proud Quotes geckoandfly. wwu7U com',
 '   the UNis anything but neutral',
 'Gey calture is surviving and thrlving. Some activists believe the recent rise in homophobic violence might be a gauge of the success of positive gay images Lance Loca Oolefincl.cun',
 'GAY CULTURE IS SURVIVINVG AND THRIVINVG. SOME ACTIVISTS BELIEVE THE RECENT RISEIN HOMOPHOBIC VIOLENVCE MIGHT BEA GAUGE OF THE SuCCESS OF POSITIVE GAY IMAGES. uMctlouo dotenielsgon',
 "If Haryy Poller pught us anylhing It's that no one should live in a closet",
 'MARRIAGE !S ABOUT LOy NOTCENDER',
 'SDUNDS Fas IM IN',
 ':fiosltii vrnan stiiils uj mr lrrsilusailiin kiuswing it jssilly. illisnt vlainingit. slirsstiilsuj lir nll nooo0 aoinaanou',
 'e%8## #88#8##%#s.',
 'Burst dovn those closet doors once and for all, and stand up and start to fight. Harvey Mill Gsnalmnaci corn',
 'Ts rusan unsesla[3 a41 noe amolly blkelea byune seatus quo Is repulsve',
 "Claimingthat someone else's marniage is against being your religion islike angrywth someone for eatinga donutwhen you're on a diet. Being Gay & Proud Quotes geckoandfly. wwwU. com",
 'Back then my denial wasboth active and passive. Caught shadowboxing mysubconscious,Iwas determinedto dodge the danger ol mynatural desires',
 'SOUNDS GA_ IM IN ee',
 'When it comes to the rights of LGBT people the UN is anything but neutral. CHARIES RADCLIFFE UNFREE&LOUAL alree equal Gchales_tad evsnoesosos ',
 'vality.  avve. pile.',
 'IF FALL ASLEEP TEXTING YOU ITS BECAUSE DDMT WANT TO SAY GOODBYE',
 'nin nint lrii hilsirsv"ini muolru"t.007:00 vliru lir sl ll`> ariyrrylillirinl Iriiiniyii. nueoane0e0',
 "KEEP CALM BECAUSE IT'S OKAY TO BE GAY",
 "Lile's a game. Playto win",
 'cci you can you re halfivay Z. r. KaasuL1',
 'korned composoion lrom bcing discrminotcd ogoinst. Everyening bod uhovs hopoeneo to hos Couohe me comoossons ',
 'DONT & PLEASE STRAIGHT',
 '',
 'NOTHINC WOULD PE THE SPME E_7OUD!D NOTEXIST',
 'Qrmirg bnnzornisorn',
 'We are legal"" Hilty Inall states"',
 'HATE IT HAS CAUSED A LOT OF PROBLEMS IN THIS WORLD, BUIT IS HAS NOT SOLVED ONE YET. MAYA ANGELOu',
 "Whatis straight?A line can be straight, ora street, but the human heart, oh, no, it's curved like a road through mountains. Sayinglmages.com TENNESSEE WILLIAMS",
 'Gay pride or LGBT pride is the positive stance against discrimination and violence toward lesbian, gay, bisexual, and transgender (LGBT) people to promote their self-affirmation, dignity, equality rights, increase their visibility as a social group, build community, and celebrate sexual diversity and gender variance. Your uote.in',
 'HATE Ir HAs CAUSEDALOT Or TnouLLusN THIS wOHLD, HUTI5 HAS aoTSOLVED OE VET MAY^ AvGELou',
 'BE zsuegece',
 '',
 '"BE STRONG, YOU NEVER KNOWWHO YOU ARE INSPIRING"',
 'Being gayis nota crime anditis nota sin. Stop using Godto justifyyour prejudice. Religion is aboutlovingone another You rejust looking foran excuse tohate. Being Gay & Proud Quotes geckoandfly. wwu7U com',
 'BE ILuRSHE naoriyinaly alwu wonl ore thu ~cO>4.',
 'go There s nothing wrong wirh you. Theres a lof wrong wirh the world you live in cirs Coller',
 't',
 'mlle1[[1 Isnr0 Isr nu [["T TI[s24[01[1 n11 m8 2',
 'l am nol liece while anywoman is unliee, even when her shackles are very dillerent liom my Ownl. AUDRE LORDE GH',
 '33 6 qouidel drcamstimc com |0 145823917 @ Barrirret',
 'Mretahen drnial Leinactir ondvaoowz Caughi shadovshoning miycubronerioudlwao feternineaio dolzainadiero naturafasine',
 'MAINOT BE THCSAM Di TlTSNi MVulM mRaanV nL MER HuIL DIVNRIGHTISUPPORTIT r',
 "The pressures on gay teens can be overwhelming-to keep secrets, tell lies. deny who are. and try you to be who you're not. Remember: you are special and worth being cared about. loved. and accepted just as you are. Never. ever let anyone convince you otherwise Aler Sancher Aulhor",
 'r0 jurnu; re',
 ' 8 Gvally  otve.  pnie.  ',
 '',
 '',
 'GG 99 Top Pro & Con Quotes',
 'mLDOw tGnQ st mlll4',
 '',
 '',
 'TEEN PROBLEhS',
 '',
 '',
 'nunal aaulaen8t6lue fostananuuusnunaieuu T majny lslesti 4P nraal tne tnuT semimanay Irun novsoaunihjs5alv slsin tuntesuofslav3 tees ls alajelrile negouse tanray4 e alu3u3 itelnlT  mnneinan fuuca nse  Acie aiun lalu fdusunn mz sstknssetiestile t"rsi ori  ausu fevurate natray lln srneval ik7ikefrol drnvalNls^ uuTreosoy seaelae Nr. Atilyauoue4 uin nasaulalsulat avuno reanrn tahAltnvanlurz unugsva lsutas tlsytusnov LuuTleni nannulh luu ee 1#1 ale oylolrirn nan8 i6  n 7 m suenidsme retersoilgsure fuuayalotunnfsrnmun m a4s fuautun ncdculnn nossiell ne usaauldalea olue [b5 laeuo fingsin rlsuear rs43 annteigunrne fouasal Inarruraie ntraallnlannet regak1e57671 ioknso natnn0r Tyika Nsstinlskal^ebunemanonesnsllnoheleikusulte2 na" Wion wa Inuylds_. tutalr talsjasmlt"steueyael utugi lunir"1n#42 TR "',
 'IHUHHPOSTI 3',
 '',
 'BE HA',
 '',
 '5 BESTGAY QUOTES WWW.GD BL0 G NE T',
 '',
 'learned this the hard way.. "You either sayhow you feel and fuck it upor say nothing and let it fuck you up instead.\'',
 'KNOWS LOVE GENDER NO',
 '',
 'I',
 "oooo Verizon LTE 10:47 AM 34% X Tweet -168 anything negative apologize for r Ive said towards gays and for that matter anyone. | was young, ignorant, stupid, and in a bad place. I've moved on and learned from my mistakes and am so truly sorry to anyone have have nothing against offended. anything promotes that anyone or Sorry equality. again W E R T P K S H D F J A z X B N M 0 # 123 space",
 '',
 'T0{%78 ailaoti als ouontS fo IISPint Pnoce nno rou nnL fnnno',
 "lesbianvenom: lesbianvenom: straighteners aren't worth ur moneyi've been using one for three weeks andi'm still definitelya lesbian living in oll my20 years of this has been byfar mybest joke ever",
 '',
 'you Oppose gay rights So beCause Of the Bible? try Mnless you also to outlaw Shrime Cocktails ILev 11:9) 2+:161 Cursing IL ev Deut.22:51 Women s jeans 16:51 Arrogance IProv. -Lying IProv. 12:22) Bacon ILev. 11:7 Aclultery Deut. 22:231 Working Sunday INum. 15:32I On please Shut the hell upl',
 'Google BeoVor naans booontaaa4 nornosanunny boasenseaa3 aborlon bor armartgg  t6',
 'Addidle',
 'NISE}: 4Fe MSII car HAPIT cogs Be :  MLSOI Imaan: LGBTQ ML IALK M DONTE Imaan LGTal POOK Msli support mmian orguk',
 '',
 'Eor cul5 jir',
 'Memll NOTBE ess` y ERAED',
 'HAT',
 '',
 '',
 'cRu 8',
 '',
 ':}',
 '',
 '',
 'Anti LGBT: States that have laws restricting teachers and stafffrom talking about LGBT issues at school alabima Ailona toulstana Mlssissippl Ouanoma Soulh Carollna Tna3 Urah',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'I )',
 '',
 '',
 'BITCH GHETTO ILLEGAL ALIEN NO HOMO RETARDED &LAME THATS SO GAY WHOREIHO & SLUT Wordsfnal HupTzand MHV',
 'So you Oppose say Tigits because of the Bible? to outlaw try unless you also i91 cooikal3IL1 17161 nvy 3 Irrgs 3 tero4 Tisli nceo acer; IDvu. lJI Merrn 1531! a please shut the hell u!',
 '',
 '',
 '',
 'Anti Bullying: States that have laws prohibiting bullying of students on the bases ofsexual orientation and gender identity Ailansas Calllornla Colorido Connedticut Mlllnols lon Miln Maryland Massacnusetts Minnesot4 Mevida Men Mampsnlre Menlerssy Msn lorl Norih Carolina Oregon Phodelsland Vermont Washington Washington, DC',
 '',
 'Jason J 0 jaybs121|4| Added Me Everyone add my new Snapchat or comment names below. III be posting positive quotes every day Igbtpride loveislove Igbt trans transmatter transgender transgirl transmale lesbian lesbiansex gaypride gay bi bisexualpride bisexual bipride asexual asexualpride pansexualpride pansexual protecttranskids swag ftm pride mtf',
 'F HAI',
 '',
 'Married with PRIDF',
 '',
 'IGOIEAISOFIILIIIIGSTORICS',
 'for LGBT',
 '',
 '',
 '',
 'learned Ihis the hard way... aoueihersyhow nileelandhck upoe siynollungand leo aluck)vu uplnstesds',
 'TEENN PROBLEhS',
 '',
 '',
 'DL:STGAY QuOTES ',
 '',
 'GT',
 '',
 '',
 '',
 '']

In [ ]:
df=pd.DataFrame(zip(text,no))
df.columns=['text','id']

In [ ]:
df.id=df.id.apply(lambda x:x.split('/')[-1])

In [ ]:
df.head()

                                                                    text            id
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  Test3118.jpg
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  Test1902.jpg
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  Test1992.jpg
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  Test3130.jpg
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  Test3863.jpg

In [ ]:
df.loc[df.id=='Test107.jpg']

                                                                                                                                                                                                     text           id
182  lesbianvenom: lesbianvenom: straighteners aren't worth ur moneyi've been using one for three weeks andi'm still definitelya lesbian living in oll my20 years of this has been byfar mybest joke ever  Test107.jpg

In [ ]:
df.to_csv('/content/drive/My Drive/Love is Love/text_data.csv',index=False)

In [ ]:
# df=pd.read_csv('text_data_dev.csv')

In [ ]:
# df['text']=df['text'].replace(df.text[0],"")

In [ ]:
df.head()

                                                                    text            id
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  Test3118.jpg
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  Test1902.jpg
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  Test1992.jpg
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  Test3130.jpg
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  Test3863.jpg

In [ ]:
import re
import spacy
from nltk.tokenize import word_tokenize,regexp_tokenize

In [ ]:
def slash_n(text):
    #removing \n
    text=re.sub('\n',' ',text)
    #converting whole string into lowercase
    text=text.lower()
    return text

In [ ]:
df['text_\n']=df['text'].apply(slash_n)

In [ ]:
df.head()

                                                                    text  ...                                                                text_\n
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...                              keep calm and love who you want tar^o kar
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...             turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...                you say 'be stfajight' i say mtaste the rainbow' to mar
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...     ie m  ess a to w nores will kn nver m la amei9 can le zou m> anela
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...  thimk mirriiglisas aripeiigchns imiis blin, bltmlinaunn an0a dnn gtbt

[5 rows x 3 columns]

In [ ]:
#importing dictonary containing all the contractions and their expander version as their values
from contr import CONTRACTION_MAP

In [ ]:
def contraction(text):
    """
    This function will return the text in  an expanded form which is in common English. It also helps in generalising the tokens
    """
    tokens=text.split()
    tok=[]
    for i in tokens:
        if i in CONTRACTION_MAP.keys():
            tok.append(CONTRACTION_MAP[i])
        else:
            tok.append(i)
    return ' '.join(tok)

In [ ]:
df['text_cont']=df['text_\n'].apply(contraction)

In [ ]:
df.head(10)

                                                                                                                                                    text  ...                                                                                                                                              text_cont
0                                                                                                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...                                                                                                              keep calm and love who you want tar^o kar
1                                                                                             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...                                                                                             turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce
2                                                                                                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...                                                                                                you say 'be stfajight' i say mtaste the rainbow' to mar
3                                                                                     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...                                                                                      ie m ess a to w nores will kn nver m la amei9 can le zou m> anela
4                                                                                  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...                                                                                  thimk mirriiglisas aripeiigchns imiis blin, bltmlinaunn an0a dnn gtbt
5  orr0 ululce yggy anesAN marriages UEVE PPOPE STII PROTESTIN THIS SHIT Simely because iLis noneol mydamn businesshow others choose to live their infos  ...  orr0 ululce yggy anesan marriages ueve ppope stii protestin this shit simely because ilis noneol mydamn businesshow others choose to live their infos
6                                     ONNE DAY WE WONT HAVE TO COME OUT OF THE CLOSET' WE'LL JUST SAY WE ARE IN LOV= AND THAT WILL ALL THAT MATT Tao mar  ...                                   onne day we wont have to come out of the closet' we will just say we are in lov= and that will all that matt tao mar
7                                                                                                            Yov ULLoT HAVL rolnut tit hrD tenilve FIFD.  ...                                                                                                            yov ullot havl rolnut tit hrd tenilve fifd.
8                                                                                                                                             PROUD ll8l  ...                                                                                                                                             proud ll8l
9                                                                                                  lo belolroid ls co behove Os che erurh were noe crue.  ...                                                                                                  lo belolroid ls co behove os che erurh were noe crue.

[10 rows x 4 columns]

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

In [ ]:
def spell(text):
    text=str(TextBlob(text).correct())
    return text

In [ ]:
df['text_correct']=df['text_cont'].apply(spell)

In [ ]:
df.head()

                                                                    text  ...                                                          text_correct
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...                             keep calm and love who you want tar^o war
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...               turaeayrerou ram anrngnnlor man adler in oarlanlmnnr ce
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...                 you say 'be straight' i say taste the rainbow' to may
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...      in m less a to w notes will in over m la amid can le you m> anel
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...  think mirriiglisas aripeiigchns miss blind, bltmlinaunn anna don get

[5 rows x 5 columns]

In [ ]:
# import nltk
# nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
sia=SentimentIntensityAnalyzer()

In [ ]:
def score(text):
    # text=str(TextBlob(text).correct())
    s=sia.polarity_scores(text)['compound']
#     t=TextBlob(text).sentiment.polarity
#     s=t+s
    return s

In [ ]:
df['score']=df['text_correct'].apply(score)

In [ ]:
df.head()

                                                                    text  ...   score
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...  0.4404
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...  0.0000
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...  0.2263
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...  0.0000
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ... -0.5106

[5 rows x 6 columns]

In [ ]:
df[df['score']==0]

                                                                                                                   text  ... score
1                                                            Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...   0.0
3                                                    IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...   0.0
6    ONNE DAY WE WONT HAVE TO COME OUT OF THE CLOSET' WE'LL JUST SAY WE ARE IN LOV= AND THAT WILL ALL THAT MATT Tao mar  ...   0.0
7                                                                           Yov ULLoT HAVL rolnut tit hrD tenilve FIFD.  ...   0.0
11                                                                                                                       ...   0.0
..                                                                                                                  ...  ...   ...
234                                                                                                                  GT  ...   0.0
235                                                                                                                      ...   0.0
236                                                                                                                      ...   0.0
237                                                                                                                      ...   0.0
238                                                                                                                      ...   0.0

[126 rows x 6 columns]

In [ ]:
# import spacy.cli
# spacy.cli.download("en_core_web_md")

✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [ ]:
nlp=spacy.load('en_core_web_md')

In [ ]:
#Using Spacy's Lemmatization
def lemma(text):
    doc=nlp(text)
    tok=[i.lemma_ for i in doc]
    return ' '.join(tok)

In [ ]:
df['text_lemma']=df['text_correct'].apply(lemma)

In [ ]:
df.head()

                                                                    text  ... cluster
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...       2
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...       1
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...       2
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...       0
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...       1

[5 rows x 9 columns]

In [ ]:
def remove_non_alpha(text):
    tok=regexp_tokenize(text,'[A-Za-z]+')
    tokn=[]
    for i in tok:
        tokn.append(i.strip())
    return ' '.join(tokn)

In [ ]:
df['text_no_pun']=df['text_lemma'].apply(remove_non_alpha)

In [ ]:
df.head()

                                                                    text  ... cluster
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...       2
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...       1
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...       2
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...       0
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...       1

[5 rows x 9 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf=TfidfVectorizer(stop_words='english',strip_accents='unicode',min_df=2)

In [ ]:
tfvec=tfidf.fit_transform(df['text_no_pun'])

In [ ]:
tfvec

<239x200 sparse matrix of type '<class 'numpy.float64'>'
	with 707 stored elements in Compressed Sparse Row format>

In [ ]:
from scipy.sparse import csr_matrix,hstack

In [ ]:
score=csr_matrix(df.score).T

In [ ]:
score

<239x1 sparse matrix of type '<class 'numpy.float64'>'
	with 113 stored elements in Compressed Sparse Column format>

In [ ]:
vec=[]
for i in df.text_no_pun.values:
    vec.append(nlp(i).vector)

In [ ]:
vectors=csr_matrix(vec)

In [ ]:
vectors

<239x300 sparse matrix of type '<class 'numpy.float32'>'
	with 52200 stored elements in Compressed Sparse Row format>

In [ ]:
#created a feature matrix
f_matrix=hstack((score,vectors,tfvec))

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
km = KMeans(n_clusters=3)
km.fit(f_matrix)
clusters = km.labels_.tolist()

In [ ]:
df['cluster']=clusters

In [ ]:
df.head()

                                                                    text  ... cluster
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...       2
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...       1
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...       2
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...       1
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...       1

[5 rows x 9 columns]

In [ ]:
df[df['cluster']==0]

                                     text  ... cluster
11                                         ...       0
19           &ozel9e o  c6~~#?9 auae Aelo  ...       0
21   Tatergreram dnallaar lrn nanllya fnn  ...       0
31                                         ...       0
36                                         ...       0
..                                    ...  ...     ...
233                                        ...       0
235                                        ...       0
236                                        ...       0
237                                        ...       0
238                                        ...       0

[75 rows x 9 columns]

In [ ]:
df[df['cluster']==1]

                                                                                                                                                                                                        text  ... cluster
1                                                                                                                                                 Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...       1
3                                                                                                                                         IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...       1
4                                                                                                                                      THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...       1
5                                                      orr0 ululce yggy anesAN marriages UEVE PPOPE STII PROTESTIN THIS SHIT Simely because iLis noneol mydamn businesshow others choose to live their infos  ...       1
9                                                                                                                                                      lo belolroid ls co behove Os che erurh were noe crue.  ...       1
..                                                                                                                                                                                                       ...  ...     ...
218  Jason J 0 jaybs121|4| Added Me Everyone add my new Snapchat or comment names below. III be posting positive quotes every day Igbtpride loveislove Igbt trans transmatter transgender transgirl trans...  ...       1
219                                                                                                                                                                                                    F HAI  ...       1
228                                                                                                       learned Ihis the hard way... aoueihersyhow nileelandhck upoe siynollungand leo aluck)vu uplnstesds  ...       1
229                                                                                                                                                                                           TEENN PROBLEhS  ...       1
234                                                                                                                                                                                                       GT  ...       1

[81 rows x 9 columns]

In [ ]:
df[df['cluster']==2]

                                                                                                                   text  ... cluster
0                                                                             KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...       2
2                                                               YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...       2
6    ONNE DAY WE WONT HAVE TO COME OUT OF THE CLOSET' WE'LL JUST SAY WE ARE IN LOV= AND THAT WILL ALL THAT MATT Tao mar  ...       2
7                                                                           Yov ULLoT HAVL rolnut tit hrD tenilve FIFD.  ...       2
8                                                                                                            PROUD ll8l  ...       2
..                                                                                                                  ...  ...     ...
189                                                                                                        Eor cul5 jir  ...       2
194                                                                                                               cRu 8  ...       2
221                                                                                                  Married with PRIDF  ...       2
224                                                                                                            for LGBT  ...       2
232                                                                                                    DL:STGAY QuOTES   ...       2

[83 rows x 9 columns]

In [ ]:
# df['Category']=df.cluster.map({:'Random',:'Positive',:'Negative'}) ##template

In [ ]:
df['Category']=df.cluster.map({0:'Random',2:'Positive',1:'Negative'})

In [ ]:
df.columns

Index(['text', 'id', 'text_\n', 'text_cont', 'text_correct', 'score',
       'text_lemma', 'text_no_pun', 'cluster', 'Category'],
      dtype='object')

In [ ]:
df.columns=['text', 'Filename', 'text_\n', 'text_cont', 'text_correct', 'score','text_lemma', 'text_no_pun', 'cluster', 'Score']

In [ ]:
df.head()

                                                                    text  ...     Score
0                              KEEP CALM AND LOVE WHO YOU WANT Tar^o kar  ...  Positive
1             Turaeayrerou ram anrngnnlor mnnr aalern irn oarlanlmnnr ce  ...  Negative
2                YOU SAY 'BE STFAJIGHT' I SAY MTASTE THE RAINBOW' To Mar  ...  Positive
3     IE m  ess a to w nores will kn nver m La amei9 can Le zou M> Anela  ...  Negative
4  THIMK MIRRIIGLISAS ArIpeIIGChnS IMIIS BLIN, BLTMLINAunN AN0A DnN GTBT  ...  Negative

[5 rows x 10 columns]

In [ ]:
df.shape

(239, 10)

In [ ]:
test=pd.read_csv('/content/drive/My Drive/Love is Love/Test.csv')

In [ ]:
test.head()

       Filename  Category
0  Test1001.jpg       NaN
1  Test1012.jpg       NaN
2  Test1022.jpg       NaN
3  Test1071.jpg       NaN
4  Test1122.jpg       NaN

In [ ]:
test.shape

(239, 2)

In [ ]:
sub=pd.merge(test,df,on='Filename')[['Filename','Score']]

In [ ]:
sub

         Filename     Score
0    Test1001.jpg  Positive
1    Test1012.jpg  Positive
2    Test1022.jpg  Positive
3    Test1071.jpg  Positive
4    Test1122.jpg  Negative
..            ...       ...
234   Test243.jpg  Negative
235   Test244.jpg    Random
236   Test245.jpg  Negative
237   Test249.jpg    Random
238   Test250.jpg  Negative

[239 rows x 2 columns]

In [ ]:
sub.columns=test.columns

In [ ]:
sub

         Filename  Category
0    Test1001.jpg  Positive
1    Test1012.jpg  Positive
2    Test1022.jpg  Positive
3    Test1071.jpg  Positive
4    Test1122.jpg  Negative
..            ...       ...
234   Test243.jpg  Negative
235   Test244.jpg    Random
236   Test245.jpg  Negative
237   Test249.jpg    Random
238   Test250.jpg  Negative

[239 rows x 2 columns]

In [ ]:
sub.to_csv('/content/drive/My Drive/Love is Love/submission1.csv',index=False)

<img src='Untitled.png' />